/*COMMON STYLES*/

body{
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1s.5; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */
    font-size: 14px !important;
    font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;;
    font-weight: 400;
    margin: 0;
}
img{
    max-width: 100%;
}
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.row.no-gutters > [class^="col-"], .row.no-gutters > [class*=" col-"]{
    padding-right: 0;
    padding-left: 0;
}

.error {
    color: #a00 !important;
}

*:focus {
    outline: none;
}
p {
    font-size: 15px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Margin */

.mg-top-10 {
    margin-top: 10px !important;
}
.mg-top-15 {
    margin-top: 15px !important;
}
.mg-top-20 {
    margin-top: 20px !important;
}
.mg-top-25 {
    margin-top: 25px !important;
}
.mg-top-30 {
    margin-top: 30px !important;
}
.mg-top-35 {
    margin-top: 35px !important;
}
.mg-top-40 {
    margin-top: 40px !important;
}
.mg-top-45 {
    margin-top: 45px !important;
}
.mg-top-50 {
    margin-top: 45px !important;
}
.mg-top-55 {
    margin-top: 55px !important;
}
.mg-top-60 {
    margin-top: 60px !important;
}
.mg-btm-10 {
    margin-bottom: 10px !important;
}
.mg-btm-15{
    margin-bottom: 15px !important;
}
.mg-btm-20{
    margin-bottom: 20px !important;
}
.mg-btm-25{
    margin-bottom: 25px !important;
}
.mg-btm-30{
    margin-bottom: 30px !important;
}
.mg-btm-35 {
    margin-bottom: 35px !important;
}
.mg-btm-40{
    margin-bottom: 40px !important;
}
.mg-btm-45 {
    margin-bottom: 45px !important;
}
.mg-btm-50 {
    margin-bottom: 50px !important;
}
.mg-btm-55 {
    margin-bottom: 55px !important;
}
.mg-btm-60 {
    margin-bottom: 60px !important;
}
.mg-10{
    margin: 10px 0 !important;
}
.mg-15{
    margin: 15px 0 !important;   
}
.mg-20{
    margin: 20px 0 !important;
}
.mg-25{
    margin: 25px 0 !important;
}
.mg-30{
    margin: 30px 0 !important;
}
.mg-35{
    margin: 35px 0 !important;
}
.mg-40{
    margin: 40px 0 !important;
}
.mg-45{
    margin: 45px 0 !important;
}
.mg-50{
    margin: 50px 0 !important;
}
.mg-55{
    margin: 55px 0 !important;
}
.mg-60{
    margin: 60px 0 !important;
}
.posr{
    position: relative;
}
.posa {
    position: absolute;
}
.z-index-1{
    z-index: 1;
}
.z-index-2{
    z-index: 2;
}
.z-index-3{
    z-index: 3;
}
.z-index-4{
    z-index: 4;
}
.z-index-5{
    z-index: 5;
}
.z-index-6{
    z-index: 6;
}
.z-index-7{
    z-index: 7;
}
.z-index-8{
    z-index: 8;
}
.z-index-9{
    z-index: 9;
}
.z-index-10{
    z-index: 10;
}
.transform-top{
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.transition-linear{
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.transition-linear{
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.transition-ease-in-out{
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.loading-bg {
    background: #F3F3F3;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#loading-icon {
    position: fixed;
    top: 48%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999999;
    text-align: center;
}
.bounceball,
.bounceball1 {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
}
.bounceball:before{
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease;
}
/* #loading-icon {
    width: 30px;
    height: 30px;
    border: 3px solid #e5e5e5;
    border-bottom-color: #23b6bc;
    border-radius: 50%;
    animation: animLoader 0.8s linear infinite forwards;
} */

#site-content{
    min-height: 1000px;
}

#scrolltop {
    width: 50px;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 200px;
    right: 20px;
    cursor: pointer;
    z-index: 5;
}
.content-section-40{
    padding: 40px 0;
}
.content-section-60{
    padding: 60px 0
}
.content-section-80{
    padding: 80px 0
}
.content-section-100{
    padding: 100px 0
}
.content-section-120{
    padding: 120px 0
}
.content-section-140{
    padding: 140px 0
}
.content-section-160{
    padding: 160px 0
}
.section-header{
    text-align: center;
    padding-bottom: 35px;
}
.section-header .section-title{
    font-size: 26px;
    font-weight: 500;
    color: #000;
    margin-bottom: 15px;
    display: inline-block;
    position: relative;
    margin-top: 0;
    position: relative;
    padding-bottom: 20px;
}
.section-header .section-title::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    display: inline-block;
    width: 50px;
    height: 2px;
    background: #000;
}
.section-header >  span{
    font-size: 1.07em;
    color: #000;
    display: block;
}
.section-header-small {
    text-align: center;
}
.section-header-small .section-title{
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-bottom: 35px;
    display: inline-block;
    position: relative;
    margin-top: 0;
    position: relative;
    padding-bottom: 10px;
}
.section-header-small .section-title::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    display: inline-block;
    width: 60px;
    height: 2px;
    background: #000;
}
.section-header-small > span {
    font-size: 15px;
    display: block;
    text-align: center;
}
.border-header {
    text-align: center;
    max-width: 72%;
    margin: 0 auto 50px auto;
}
.border-header .section-title {
    font-size: 24px;
    padding: 15px 0;
    margin:0;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
.border-header.small-padding .section-title {
    padding: 5px 0;
}
.border-header img {
    display: inline-block;
    vertical-align: middle;
}
.form-control{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}
.btn-default {
    background: #fff !important;
    color: #000;
    display: inline-block;
    min-width: 165px;
    max-width: 165px;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    text-shadow: none;
    box-shadow: none;
    border-radius: 24px;
    border: 1px solid #000;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -ms-border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -o-border-radius: 24px;
    -ms-transition: all 0.3s ease;
    text-decoration: none !important;
    text-align: center;
}
.btn-default:hover{
    color: #8BE0D4;
    border: 1px solid #8BE0D4;
    -webkit-box-shadow: 4px 5px 8px -4px rgba(204,204,204,0.42); 
    box-shadow: 4px 5px 8px -4px rgba(204,204,204,0.42);
}
.btn-default.blue-btn {
    background: #8BE0D4 !important;
    color: #fff;
    border: 3px solid #8BE0D4;
    font-size: 18px;
    font-weight: 500;
    border-radius: 38px;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    -ms-border-radius: 38px;
    -o-border-radius: 38px;
}
.btn-default.blue-btn:hover {
    color: #000;
    background: #fff !important;
}
.section-blue-bg {
    background: #8BE0D4;
}
.modal{
    padding-right: 0 !important;
}
.modal.in .modal-dialog{
    width: 100%;
    margin: 0;
}
.modal-content{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; 
    padding: 80px 0;
    min-height: 100vh;
}
.modal-title{
    font-size: 1em;
    color: #fff;
    font-weight: 700;
}
.modal-title i{
    margin-right: 10px;    
}
.modal-header{
    border: none;
}
.close{
    color: #000;
    text-shadow: none;
    opacity: 1;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.modal .close img{
    width: 20px;
}

.language-chooser{
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.language-chooser a{
    text-decoration: none !important;
}

.language-chooser li{
    display: inline-block;
}

.language-chooser li.active a{
    font-weight: 800;
}

.qtranxs-available-languages-message { display:none }

.logo-section h2{
    margin: 0;
    line-height: 1;
    font-size: initial;
}

.logo-section:hover {
    opacity: .7;
}

#menu-toggle {
  position: fixed;
  right: 20px;
  top: 30px;
  z-index: 999;
  display: block;
  text-align: center;
}

#menu-toggle #button-menu span {
  position: relative;
  top: -1.5px;
}

#menu-toggle #button-menu span, #menu-toggle #button-menu span:before, #menu-toggle #button-menu span:after {
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: #000;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear;
}

#menu-toggle #button-menu span:before, #menu-toggle #button-menu span:after {
  content: '';
  position: absolute;
  left: 0;
}

#menu-toggle #button-menu span:before {
  margin-top: -9px;
}

#menu-toggle #button-menu span:after {
  margin-top: 9px;
}

#menu-toggle #button-menu.active span {
  background-color: rgba(255, 255, 255, 0) !important;
}

#menu-toggle #button-menu.active span:before {
  margin-top: 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu-toggle #button-menu.active span:after {
  margin-top: 0;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.vtext p{
    line-height: 1.1;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.shake:hover,
.shake:focus {
    -webkit-animation-name: spaceboots !important;
    -webkit-animation-duration: 0.3s !important;
    -webkit-transform-origin:50% 50% !important;
    -webkit-animation-iteration-count: infinite !important;
    -webkit-animation-timing-function: linear !important;
}
.bg-cover{
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}
.bg-link{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    top: 0;
    display: block;
    z-index: 2;
}
.dib{
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    float: none;
    zoom:  1;
}
.bg-10{
    padding-bottom: 10%;
}
.bg-15{
    padding-bottom: 15%;
}
.bg-20{
    padding-bottom: 20%;
}
.bg-30{
    padding-bottom: 30%;
}
.bg-40{
    padding-bottom: 40%;
}
.bg-50{
    padding-bottom: 50%;
}
.bg-60{
    padding-bottom: 60%;
}
.bg-70{
    padding-bottom: 70%;
}
.bg-80{
    padding-bottom: 80%;
}
.bg-90{
    padding-bottom: 90%;
}
.bg-100{
    padding-bottom: 100%;
}
.bg-110{
    padding-bottom: 110%;
}
.bg-120{
    padding-bottom: 120%;
}
.animate-bg{
    -webkit-animation: head-img-zoom 10s ease 0s 1 alternate forwards;
    animation: head-img-zoom 10s ease 0s 1 alternate forwards;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-backface-visibility: hidden;
}
.animate-text{
    -webkit-animation: toptext 2.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards 1;
        animation: toptext 2.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards 1;
        -webkit-transform: rotate(0.0001deg);
        transform: rotate(0.0001deg);
}
.mobile-content{
    display: none !important;
}
.content-detail img{
    margin: 20px auto 50px auto;
}
.content-detail h1{
    font-size: 3.2rem;
}
.content-detail h2{
    font-size: 2.8em
}
.content-detail h3{
    font-size: 2.4rem
}
.content-detail h4{
    font-size: 2rem
}
.content-detail h5{
    font-size: 1.6rem
}
.content-detail p{
    margin-bottom: 30px;
}
.animate-menu-item.menu>li:nth-child(1) {
    animation: show_menu_item .25s ease-in-out .2s forwards;
}
.animate-menu-item.menu>li:nth-child(2) {
    animation: show_menu_item .25s ease-in-out 225ms forwards;
}
.animate-menu-item.menu>li:nth-child(3) {
    animation: show_menu_item .25s ease-in-out .25s forwards;
}
.animate-menu-item.menu>li:nth-child(4) {
    animation: show_menu_item .25s ease-in-out 275ms forwards;
}
.animate-menu-item.menu>li:nth-child(5) {
    animation: show_menu_item .25s ease-in-out .3s forwards;
}
.animate-menu-item.menu>li:nth-child(6) {
    animation: show_menu_item .25s ease-in-out 325ms forwards;
}
.animate-menu-item.menu>li:nth-child(7) {
    animation: show_menu_item .25s ease-in-out .35s forwards;
}
.animate-menu-itemmenu>li:nth-child(8) {
    animation: show_menu_item .25s ease-in-out 375ms forwards;
}
.animate-menu-item.menu>li:nth-child(9) {
    animation: show_menu_item .25s ease-in-out .4s forwards;
}

/*.COMMON*/

/* COMPONENTS */
.slick-slide img{
    max-width: 100%;
}

.home-slider .slick-dots{
    bottom: 8%;
}
.home-slider .slick-dots li{
    width: 10px;
    height: 10px;
    margin: 0 8px;
    padding: 0;
}
.home-slider .slick-dots li button{
    width: 10px;
    height: 10px;
}
.home-slider .slick-dots li button:before{
    font-size: 10px;
    line-height: 1;
    width: 10px;
    height: 10px;
    z-index: 3;
}
.home-slider .slick-dots li.slick-active button:before{
    opacity: .75;
    color: #4d9004;
    font-size: 7px;
    width: 7px;
    height: 7px;
    top: 1.7px;
    left: 1.1px;
}
.home-slider .slick-dots li.slick-active button:after{
    position: absolute;
    top: -5.5px;
    left: -5.5px;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    border: 2px solid #4d9004;
    content: '';
    background: white;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    z-index: 2;
}
.home-slider .slick-prev,
.home-slider .slick-next{
    width: 47px;
    height: 47px;
    display: block;
    opacity: 1;
    z-index: 4;
}
.home-slider .slick-prev:before,
.home-slider .slick-next:before{
    display: none;
}
.home-slider .slick-prev{
    left: 7%;
    background: url(../images/prev_btn_black.png) no-repeat center center !important;
}
.home-slider .slick-next{
    right: 7%;
    background: url(../images/next_btn_black.png) no-repeat center center !important;
}
/* .COMPONENTS */

/*HEADER*/
header {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: top 0.5s ease;
    -webkit-transition: top 0.5s ease;
    -moz-transition: top 0.5s ease;
    -ms-transition: top 0.5s ease;
    -o-transition: top 0.5s ease;
}
header.scrolled {
    top: -120px;
    -webkit-box-shadow: 4px 5px 11px -5px rgba(0,0,0,0.45); 
    box-shadow: 4px 5px 11px -5px rgba(0,0,0,0.45);
}
.logo-section span {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 5px;
}
.top-nav {
    padding: 25px 0 35px;
    position: relative;
}
.border-nav-btn {
    background: #FCD153;
    display: inline-block;
    color: #fff;
    text-decoration: none !important;
    width: 210px;
    padding: 5px 20px;
    border-radius: 30px;
    text-align: left;
    border: 3px solid #FCD153;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.top-nav__links {
    position: absolute;
    top: 46%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.social-links a img {
    max-width: 30px;
}
.social-links a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
}
.social-links a:last-child {
    margin-right: 20px;
}
.social-links a:hover img {
    opacity: 0.8;
}
.top-nav__links .top-nav__link--right a {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}
.border-nav-btn.footer-btn {
    position: relative;
    width: 300px;
    padding: 14px 40px;
    border-radius: 38px;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    -ms-border-radius: 38px;
    -o-border-radius: 38px;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}
.border-nav-btn span {
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
}
.border-nav-btn.footer-btn span {
    font-size: 18px;
    font-weight: 500;
}
.border-nav-btn svg {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.border-nav-btn.footer-btn svg {
    right: 40px;
}
.border-nav-btn:hover {
    background: #fff;
    color: #000;
}
.border-nav-btn:hover svg path {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.border-nav-btn:hover svg path {
    fill: #000;
}
/*.HEADER*/

/*MAIN NAV*/
#main-nav {
    padding: 15px 0;
    background: #fff;
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#main-nav ul li a {
    position: relative;
    display: inline-block;
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
#main-nav ul li:hover a,
#main-nav ul li.current-menu-item:not(.anchor-link) a {
    color: #8BE0D4;
}

#main-nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    margin: 0 auto;
    width: 0;
    height: 3px;
    background: #8BE0D4;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#main-nav ul li:hover a::after,
#main-nav ul li.current-menu-item:not(.anchor-link) a::after {
    width: 80%;
}

/*.MAIN NAV*/

/*HOMEPAGE*/
body {
    margin-top: 176px;
    transition: margin-top 0.5s ease;
    -webkit-transition: margin-top 0.5s ease;
    -moz-transition: margin-top 0.5s ease;
    -ms-transition: margin-top 0.5s ease;
    -o-transition: margin-top 0.5s ease;
}

body.scrolled-header {
    margin-top: 56px;
}

#site-wrapper {
    overflow: hidden;
}
#main-visual {
    position: relative;
}
.main-slider .slick-dots li {
    width: 10px;
    height: 10px;
}
.main-slider .slick-dots li button {
    width: 10px;
    height: 10px;
    padding: 5px 7.5px;
}
.main-slider .slick-dots li button:before {
    width: 10px;
    height: 10px;
    font-size: 10px;
    color: #fff;
    opacity: 1;
}
.main-slider .slick-dots li.slick-active button:before {
    color: #C4EFE9;
}
.main-slider  .slick-dots {
    bottom: 15px;
}
.slider-illustration {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}
.banner-asset {
    position: absolute;
    left: 5%;
    bottom: -80px;
    z-index: 2;
}
.main-slider .slide-text {
    position: absolute;
    top: 40%;
    right: 10%;
    font-family: 'Noto Serif JP', serif;
    font-weight: 500;
    font-size: 36px;
    color: #fff;
    text-align: center;
}
.pickup-note {
    display: flex;
    background: #8BE0D4;
    padding: 30px;
    border-radius: 23px;
    min-height: 216px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -ms-border-radius: 23px;
    -o-border-radius: 23px;
}
.pickup-note p {
    color: #000;
    margin: 0;
    font-weight: 500;
    line-height: 1.3;
    align-self: center;
}
.pickup-note .bird-icon {
    right: 0;
    top: -68px;
    z-index: 2;
}
.pickup-note .guitar-icon {
    left: -60px;
    bottom: -78px;
    z-index: 2;
}
.video-item .video-title {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin: 15px 0;
}
.video-item p {
    font-size: 16px;
    line-height: 1.3;
}
.information-list {
    margin-bottom: 50px;;
}
.information-item a {
    text-decoration: none;
}
.information-item .item-img {
    margin-bottom: 10px;
    overflow: hidden;
}
.information-item .item-title {
    color: #000;
    font-size: 15px;
    margin: 10px 0 0;
}
.entry-meta span {
    display: inline;
    color: #000;
    font-size: 12px;
    vertical-align: middle;
}
.entry-meta span:first-child {
    margin-right: 20px;
}
.entry-meta span.category-tag {
    padding: 3px;
    border: 1px solid #707070;
    line-height: 1;
}
.information-item .item-img .bg {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.information-item:hover .item-img .bg {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.intro-section:not(:last-child) {
    margin-bottom: 90px;
}
.map-info {
    padding-left: 30px !important;
}
.map-info p {
    font-size: 14px;
}
.map-info .info-box p {
    font-size: 15px;
    font-weight: 500;
}
.map-info .info-box span {
    font-size: 16px;
    font-weight: 500;
}
.orange-color {
    background:#FFE2A9;
}
.green-color {
    background:#CEEFAA;
}
.blue-color {
    background:#A9D6FF;
}
.info-box {
    border:2px solid #C5EFE9;
    padding: 12px;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    display: flex;
    flex: 0 0 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    min-height: 120px;
    position: relative;
}
.info-box * {
    flex: 0 0 100%;
}
.info-box span {
    display: block;
    margin-bottom: 7px;
    line-height: 1.3;
}
.info-box strong {
    font-weight: 700;
}
.info-box small {
    font-size: 10px;
}
.info-box p {
    margin-bottom: 0;
}
.blue-box {
    background: #C5EFE9;
}
.info-boxes .col-sm-4 {
    padding-right: 5px;
}
.info-boxes .col-sm-8 {
    padding-left: 5px;
    align-items: stretch;
    display: flex;
}
.info-boxes .col-lg-8 .info-box {
    width: 100%;
}
.info-boxes {
    margin-top: 50px;
}
.detail-boxes [class^="col-"] {
    padding: 0 5px;
    margin: 5px 0;
}
.icon-man {
    right: -17px;
    bottom: -8px;
    z-index: 2;
}
.icon-baby {
    top: -38px;
    right: -10px;
    z-index: 2;
}
.icon-text {
    right: -10px;
    bottom: -17px;
    z-index: 2;
}
.icon-house {
    top: -22px;
    right: -15px;
    z-index: 2;
}
.life-slider .slider-item {
    padding: 0 17px;
}
.life-slider {
    padding: 0 90px;
    margin: 50px 0 10px 0;
}
.life-slider .slick-prev,
.life-slider .slick-next{
    top: 40%;
    width: 27px;
    height: 30px;
    display: block;
    opacity: 1;
    z-index: 4;
}
.life-slider .slick-prev:before,
.life-slider .slick-next:before{
    display: none;
}
.life-slider .slick-prev{
    left: 0;
    background: url(../images/prev.png) no-repeat center center !important;
}
.life-slider .slick-next{
    right:0;
    background: url(../images/next.png) no-repeat center center !important;
}
.circle-stamp {
    width: 70px;
    padding: 16px 0;
    border-radius: 70px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
    border: 2px solid #fff;
    text-align: center;
    right: -10px;
    bottom: -36px;
    z-index: 1;
}
.circle-stamp span {
    line-height: 1;
    font-size: 18px;
    font-weight: 500;
}
.circle-stamp small {
    font-size: 12px;
    line-height: 1;
    display: block;
}
.life-slider .slider-item h5 {
    font-size: 18px;
    margin: 12px 0;
}
.life-slider .slider-item p {
    font-size: 14px;
}
.how-to-section {
     margin-top: 50px;
}
.how-to-section .row {
    margin: 0 -32.5px;
}
.how-to-section [class^="col-"] {
    padding: 0 32.5px;
    margin-bottom: 65px;
}
.how-to-step {
    background: #fff;
    padding: 25px;
    min-height: 200px;
    border: 4px solid #8BE0D4;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
}
.how-to-step h5 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 80px;
}

.how-to-step span {
    font-size: 16px;
    line-height: 1.3125;
}
.step-icon {
    top: -15px;
    left: -15px;
    width: 99px;
    height: 99px;
    z-index: 2;
    padding: 5px;
    text-align: center;
    background: #C5EFE9;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.step-icon .wrapper {
    border: 2px solid #fff;
    border-radius: 100%;
    padding: 18px 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.step-icon {
    font-size: 16px;
    line-height: 1;
}
.step-icon span {
    display: block;
    margin: 5px auto 0 auto;
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
}
.icon-store {
    bottom: 50px;
    right: 0;
}
.line-draw {
    background: #8BE0D4;   
}
.line1, .line2, .line6 {
    height: 20px;
    width: 69px;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.line3, .line5 {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 20px;
    height: 35px;
}
.line3 {
    top: 100%;
}
.line5 {
    bottom: 100%;
}
.line4 {
    width: 72.5%;
    height: 20px;
    top: calc(50% - (65px / 2));
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

#support {
    padding-top: 20px;
}
.section-link-title {
    position: relative;
    background: #8BE0D4;
    color: #fff;
    text-align: center;
    padding: 20px;
    overflow: hidden;
}
.section-link-title span {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
}
.section-link-title span small {
    font-size: 15px;
}
.i-house {
    right: -20px;
    bottom: 0;
}
.i-work {
    right: -10px;
    bottom: -2px;
}
.i-life {
    right: -20px;
    bottom: -15px;
}
.i-child {
    right: -15px;
    bottom: -10px;
}
.section-links a {
    position: relative;
    display: block;
    padding: 12px;
    font-size: 16px;
    text-align: center;
    color: #000;
    background: #fff;
    border: 1px solid #707070;
    margin-top: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.section-links a:hover {
    background: #707070;
    color: #fff;
}
.section-links a .arrow-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.section-links a:hover .arrow-icon {
    right: 10px;
    color: #fff;
}
.youtube-banner {
    margin-bottom: 65px;
}

.youtube-banner img {
    width: 100%;
}
.youtube-banner:hover img {
    opacity: 0.8;
}
/*.HOMEPAGE*/

/* INFORMATION LIST */
#information-list .information-item {
    margin-bottom: 50px;
}
.pagination {
    margin-bottom: 100px;
    display: inline-block;
}
.pagination a,
.pagination span {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin: 0 10px;
}
.pagination .current {
    color: #8BE0D4;
}
/* .INFORMATION LIST */

/* INFORMATION DETAIL */
.content-detail .content-wrapper {
    max-width: 80%;
    margin: 0 auto;
}
.post-nav {
    margin: 100px 0;
}
.post-nav a {
    display: inline-block;
    color: #000;
    margin: 0 50px;
}
.article-title {
    font-size: 16px;
    margin-top: 10px;
}
/* .INFORMATION DETAIL */

/* INTERVIEW LIST */
.interview-list {
    margin-top: 60px;
}
.interview-item .interview-header {
    position: relative;
    padding-left: 90px;
    margin-bottom: 25px;
}
.interview-item .interview-header .circle-stamp {
    top: -15px;
    left: 0;
    bottom: inherit;
}
.interview-item h4 {
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 15px 0;
}
.interview-item {
    padding: 80px 0;
    position: relative;
}
.interview-item p {
    margin-bottom: 0;
}
.interview-item:nth-child(2n) .img-col {
    order: 2;
}
.interview-item:nth-child(2n) .info-col {
    order: 1;
}
.interview-item:not(:last-child)::after {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -4px;
    width: 72%;
    height: 8px;
    background: url(../images/border-pattern.png);
    background-repeat: repeat-x;
    content: '';
}
/* .INTERVIEW LIST */

/*FOOTER*/
.footer-info {
    padding-bottom: 40px;
}
.contact-info-box {
    padding: 20px 90px;
    border: 3px solid #C5EFE9;
    border-radius: 21px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    -ms-border-radius: 21px;
    -o-border-radius: 21px;
}
.contact-info-box h5 {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 15px 0;
}
.contact-info-box strong {
    font-weight: 700;
}
.contact-info-box span {
    font-size: 16px;
    font-weight: 400;
}
.footer-nav {
    background: #C5EFE9;
    padding: 10px;
}
.copyright {
    font-size: 12px;
}
/*.FOOTER*/

/**
 * RESPONSIVE
 */
@media screen and (max-width:1600px) {

}
@media screen and (max-width:1440px) {

}
@media screen and (max-width:1366px) {

}
@media screen and (max-width:1280px) {
    .main-slider .slide-text {
        right: 12%;
    }
    .line4 {
        width: 72.4%;
    }
}
@media screen and (max-width:1024px) {
    .banner-asset {
        max-width: 300px;
    }
    .main-slider .slide-item .bg {
        padding-bottom: 40%;
    }
    .slider-illustration {
        max-width: 140px;
    }
    .main-slider .slide-text {
        right: 2%;
        top: 33%;
        font-size: 30px;
    }
    .pickup-note {
        padding: 25px
    }
    p {
        font-size: 14px;
    }
    .map-info > p br {
        display: none;
    }
    .icon-store {
        max-width: 33%;
    }
    .how-to-step h5 {
        font-size: 14px;
        padding-left: 50px;
    }
    .how-to-step span {
        font-size: 12px;
    }
    .step-icon {
        width: 69px;
        height: 69px;
    }
    .step-icon .wrapper {
        padding: 11px 0
    }
    .line4 {
        width: 73.5%;
    }
    .social-links a {
        margin-right: 10px;
    }
    .social-links a:last-child {
        margin-right: 15px;
    }
}
@media only screen 
  and (min-device-width: 812px) 
  and (max-device-width: 812px)  {
    /* COMMON */
    .mobile-content{
        display: block !important;
    }
    .desktop-content{
        display: none !important;
    }
    /* .COMMON */
    header.scrolled {
        top: 0 !important;
    }
    #main-nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 0 30px;
        border-top: 2px solid #8BE0D4;
        border-bottom: 2px solid #8BE0D4;
        margin-top: -1px;
    }
    #main-nav ul {
        text-align: center;
    }
    #main-nav ul li a {
        display: block;
        padding: 15px 0;
    }
    #main-nav ul li:hover a, #main-nav ul li.current-menu-item a {
        color: inherit !important;
    }
    #main-nav ul li a::after {
        display: none;
    }
    .top-nav {
        padding: 15px 0;
    }
    .border-nav-btn.header-btn {
        position: relative;
        top: initial;
        right: initial;
        margin: 15px auto 30px auto;
        transform: none;
    }
    .logo-section img {
        max-width: 150px;
    }
    body {
        margin-top: 87px;
    }
    .main-slider .slide-item .bg {
        padding-bottom: 50%;
    }
    .main-slider .slide-text {
        font-size: 24px;
    }
    .pickup-note {
        margin-bottom: 90px;;
    }
    .pickup-note .guitar-icon {
        left: -30px;
        bottom: -58px;
    }
    .note-column {
        margin: 0 auto;
    }
    .pickup-note {
        padding: 45px;
    }
    .video-item {
        margin-bottom: 60px;
    }
    .video-item iframe {
        height: 390px;
    }
    .video-item p {
        text-align: center;
    }
    .information-item {
        margin-bottom: 30px;
    }
    .map-col {
        text-align: center;
        margin-bottom: 60px;
    }
    .map-info {
        padding-left: 0 !important;
    }
    .icon-baby {
        top: 52px;
        right: -30px;
    }
    .life-slider {
        padding: 0 40px;
    }
    .line1, .line2, .line3, .line6 {
        height: 69px;
        width: 20px;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0 auto;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
    .line4, .line5 {
        display: none;
    }
    .icon-store {
        bottom: -160px;
        right: 0;
        left: 0;
        margin: 0 auto;
        max-width: 63%;
    }
    #how-to {
        padding-bottom: 200px;
    }
    .section-links:not(:last-child) {
        margin-bottom: 60px ;
    }
    .contact-info-box {
        text-align: center;
    }
    .contact-info-box .contact-info {
        margin-bottom: 30px;
    }
    .interview-item:nth-child(2n) .img-col {
        order: 1;
    }
    .interview-item:nth-child(2n) .info-col {
        order: 2;
    }
    .interview-item .interview-header {
        margin-top: 30px;
    }
    .icon-house {
        top: 68px;
        right: -25px;
        z-index: 2;
    }
    .how-to-step {
        min-height: auto;
    }
}
@media screen and (max-width:768px) {
    /* COMMON */
    .mobile-content{
        display: block !important;
    }
    .desktop-content{
        display: none !important;
    }
    /* .COMMON */
    header.scrolled {
        top: 0 !important;
    }
    #main-nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 0 30px;
        border-top: 2px solid #8BE0D4;
        border-bottom: 2px solid #8BE0D4;
        margin-top: -1px;
    }
    #main-nav ul {
        text-align: center;
    }
    #main-nav ul li a {
        display: block;
        padding: 15px 0;
    }
    #main-nav ul li:hover a, #main-nav ul li.current-menu-item a {
        color: inherit !important;
    }
    #main-nav ul li a::after {
        display: none;
    }
    .top-nav {
        padding: 15px 0;
    }
    .border-nav-btn.header-btn {
        position: relative;
        top: initial;
        right: initial;
        margin: 15px auto 30px auto;
        transform: none;
    }
    .logo-section img {
        max-width: 150px;
    }
    body {
        margin-top: 87px;
    }
    .main-slider .slide-item .bg {
        padding-bottom: 55%;
    }
    .main-slider .slide-text {
        font-size: 24px;
    }
    .pickup-note {
        margin-bottom: 90px;;
    }
    .pickup-note .guitar-icon {
        left: -30px;
        bottom: -58px;
    }
    .note-column {
        margin: 0 auto;
    }
    .pickup-note {
        padding: 45px;
    }
    .video-item {
        margin-bottom: 60px;
    }
    .video-item iframe {
        height: 390px;
    }
    .video-item p {
        text-align: center;
    }
    .information-item {
        margin-bottom: 30px;
    }
    .map-col {
        text-align: center;
        margin-bottom: 60px;
    }
    .map-info {
        padding-left: 0 !important;
    }
    .icon-baby {
        top: 52px;
        right: -30px;
    }
    .life-slider {
        padding: 0 40px;
    }
    .line1, .line2, .line3, .line6 {
        height: 69px;
        width: 20px;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0 auto;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
    .line4, .line5 {
        display: none;
    }
    .icon-store {
        bottom: -160px;
        right: 0;
        left: 0;
        margin: 0 auto;
        max-width: 63%;
    }
    #how-to {
        padding-bottom: 200px;
    }
    .section-links:not(:last-child) {
        margin-bottom: 60px ;
    }
    .contact-info-box {
        text-align: center;
    }
    .contact-info-box .contact-info {
        margin-bottom: 30px;
    }
    .interview-item:nth-child(2n) .img-col {
        order: 1;
    }
    .interview-item:nth-child(2n) .info-col {
        order: 2;
    }
    .interview-item .interview-header {
        margin-top: 30px;
    }
    .icon-house {
        top: 68px;
        right: -25px;
        z-index: 2;
    }
    .how-to-step {
        min-height: auto;
    }
    .social-links {
        margin-bottom: 35px;
    }
    .social-links a {
        margin: 0 30px;
    }
    .social-links a img {
        max-width: initial;
    }
    
}
@media screen and (max-width:736px) {

}
@media only screen 
  and (min-device-width: 736px) 
  and (max-device-width: 736px)  {

}
@media screen and (max-width:667px) {

}
@media only screen 
  and (min-device-width: 667px) 
  and (max-device-width: 667px)  {

}
@media screen and (max-width:568px) {

}
@media only screen 
  and (min-device-width: 568px) 
  and (max-device-width: 568px)  {

}
@media screen and (max-width:480px) {
    
}
@media screen and (max-width:414px) {
    .top-nav {
        padding: 10px 0;
    }
    body {
        margin-top: 77px;
    }
    .slider-illustration {
        max-width: 80px;
    }
    .main-slider .slide-text {
        right: 5px;
        top: 43%;
        font-size: 14px;
    }
    .banner-asset {
        max-width: 200px;
    }
    .banner-asset {
        bottom: -60px;
    }
    .pickup-note {
        min-height: 195px;
    }
    .pickup-note .guitar-icon {
        max-width: 100px;;
        left: -10px;
        bottom: -20px;
    }
    .pickup-note .bird-icon {
        right: 10px;
        top: -58px;
    }
    .video-item iframe {
        height: 215px;
    }
    .video-item p {
        font-size: 14px;
    }
    .map-info p {
        font-size: 12px;
    }
    .detail-boxes {
        padding: 0 20px;
    }
    .detail-boxes [class^="col-"] {
        margin: 7.5px 0;
    }
    .info-box, p {
        font-size: 12px;
    }
    .info-boxes .col-sm-4 {
        padding-right: 15px;
        margin-bottom: 15px;
        text-align: center;
    }
    .info-boxes .col-sm-8 {
        padding-left: 15px;
        text-align: center;
    }
    .section-header {
        padding-bottom: 30px;
    }
    .section-header .section-title {
        font-size: 20px;
        padding-bottom: 15px;
    }
    .border-header .section-title {
        font-size: 20px;
    }
    .intro-section:not(:last-child) {
        margin-bottom: 60px;
    }
    .section-header-small .section-title {
        font-size: 16px;
    }
    .section-header-small > span {
        font-size: 12px;
    }
    .border-header {
        max-width: 80%;
    }
    .contact-info-box {
        padding: 20px;
    }
    .contact-info-box h5 {
        font-size: 16px;
    }
    .contact-info-box span {
        font-size: 14px;
    }
    .content-detail .content-wrapper {
        max-width: 90%;
    }
    .btn-default.blue-btn {
        font-size: 14px;
    }
    .post-nav a {
        margin: 0 10px;
        min-width: 140px;
    }
    .post-nav {
        margin: 60px 0;
    }
    .interview-item h4 {
        font-size: 16px;
    }
    .interview-item {
        padding: 60px 0;
    }
    .interview-list {
        margin-top: 0;
    }
    .interview-header > span {
        font-size: 12px;
    }
    .icon-store {
        bottom: -140px;
        max-width: 74%;
    }
    .icon-man {
        right: -17px;
        bottom: -15px;
        z-index: 2;
        width: 60px;
    }
    .icon-baby {
        top: 72px;
        right: -30px;
        width: 80px;
    }
    .step-icon .wrapper {
        font-size: 12px;
        padding: 9px 0;
    }
    .how-to-step span {
        font-size: 16px
    }
    .how-to-step h5 {
        font-size: 22px
    }
}
@media screen and (max-width:375px) {
    #main-nav ul li a {
        padding: 10px 0;
    }
    .video-item iframe {
        height: 195px;
    }
    .life-slider .slick-prev, .life-slider .slick-next {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
    }
    .life-slider {
        padding: 0 20px;
    }
    .interview-item .interview-header {
        padding-left: 75px;
    }
    .interview-item h4 {
        font-size: 15px;
    }
}
@media screen and (max-width:320px) {
    .slider-illustration {
        max-width: 60px;
    }
    .video-item iframe {
        height: 160px;
    }
    .contact-info-box span {
        font-size: 12px;
    }
    .border-nav-btn.footer-btn span {
        font-size: 14px;
    }
    .border-nav-btn.footer-btn svg {
        width: 16%;
    }
    .border-nav-btn.footer-btn {
        width: 240px;
    }
    .social-links a {
        margin: 0 15px;
    }
}
/* IPAD PRO ONLY */
/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    /* COMMON */
    .mobile-content{
        display: block !important;
    }
    .desktop-content{
        display: none !important;
    }
    /* .COMMON */
    header.scrolled {
        top: 0 !important;
    }
    #main-nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 0 30px;
        border-top: 2px solid #8BE0D4;
        border-bottom: 2px solid #8BE0D4;
        margin-top: -1px;
    }
    #main-nav ul {
        text-align: center;
    }
    #main-nav ul li a {
        display: block;
        padding: 15px 0;
    }
    #main-nav ul li:hover a, #main-nav ul li.current-menu-item a {
        color: inherit !important;
    }
    #main-nav ul li a::after {
        display: none;
    }
    .top-nav {
        padding: 15px 0;
    }
    .border-nav-btn.header-btn {
        position: relative;
        top: initial;
        right: initial;
        margin: 15px auto 30px auto;
        transform: none;
    }
    .logo-section img {
        max-width: 150px;
    }
    body {
        margin-top: 87px;
    }
    .main-slider .slide-item .bg {
        padding-bottom: 55%;
    }
    .main-slider .slide-text {
        font-size: 24px;
    }
    .pickup-note {
        margin-bottom: 90px;;
    }
    .pickup-note .guitar-icon {
        left: -30px;
        bottom: -58px;
    }
    .note-column {
        margin: 0 auto;
    }
    .pickup-note {
        padding: 45px;
    }
    .video-item {
        margin-bottom: 60px;
    }
    .video-item iframe {
        height: 390px;
    }
    .video-item p {
        text-align: center;
    }
    .information-item {
        margin-bottom: 30px;
    }
    .map-col {
        text-align: center;
        margin-bottom: 60px;
    }
    .map-info {
        padding-left: 0 !important;
    }
    .icon-baby {
        top: 52px;
        right: -30px;
    }
    .life-slider {
        padding: 0 40px;
    }
    .line1, .line2, .line3, .line6 {
        height: 69px;
        width: 20px;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0 auto;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
    .line4, .line5 {
        display: none;
    }
    .icon-store {
        bottom: -160px;
        right: 0;
        left: 0;
        margin: 0 auto;
        max-width: 63%;
    }
    #how-to {
        padding-bottom: 200px;
    }
    .section-links:not(:last-child) {
        margin-bottom: 60px ;
    }
    .contact-info-box {
        text-align: center;
    }
    .contact-info-box .contact-info {
        margin-bottom: 30px;
    }
    .interview-item:nth-child(2n) .img-col {
        order: 1;
    }
    .interview-item:nth-child(2n) .info-col {
        order: 2;
    }
    .interview-item .interview-header {
        margin-top: 30px;
    }
    .icon-house {
        top: 68px;
        right: -25px;
        z-index: 2;
    }
    .how-to-step {
        min-height: auto;
    }
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .banner-asset {
        max-width: 300px;
    }
    .main-slider .slide-item .bg {
        padding-bottom: 40%;
    }
    .slider-illustration {
        max-width: 140px;
    }
    .main-slider .slide-text {
        right: 2%;
        top: 33%;
        font-size: 30px;
    }
    .pickup-note {
        padding: 25px
    }
    p {
        font-size: 14px;
    }
    .map-info > p br {
        display: none;
    }
    .icon-store {
        max-width: 33%;
    }
    .how-to-step h5 {
        font-size: 14px;
        padding-left: 50px;
    }
    .how-to-step span {
        font-size: 12px;
    }
    .step-icon {
        width: 69px;
        height: 69px;
    }
    .step-icon .wrapper {
        padding: 11px 0
    }
    .line4 {
        width: 73.5%;
    }
    .social-links a {
        margin-right: 10px;
    }
    .social-links a:last-child {
        margin-right: 15px;
    }
}

/**
* ANIMATION KEYFRAME
*/

@keyframes show_menu_item {
    0% {
        opacity: 0;
        transform: translate(0, -10px) scale(1.05)
    }
    100% {
        opacity: 1;
        transform: translate(0, 0) scale(1)
    }
}
@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
    background-color: #ffdb00;
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
    background-color: #245f00;
  }
  100% {
    top: 0;
    background-color: #245f00;
  }
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes animLoader {
    to { transform: rotate(360deg); }
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-40px);
    }
    100% {
        transform: translatey(0px);
    }
}

@-webkit-keyframes spaceboots {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

@-webkit-keyframes nav_active {
    0% {
        -webkit-clip-path: polygon(10% 10%, 60% 40%, 90% 90%, 40% 60%);
        clip-path: polygon(10% 10%, 60% 40%, 90% 90%, 40% 60%);
        opacity: 0
    }
    0.1% {
        opacity: 1
    }
    to {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        opacity: 1
    }
}

@keyframes nav_active {
    0% {
        -webkit-clip-path: polygon(10% 10%, 60% 40%, 90% 90%, 40% 60%);
        clip-path: polygon(10% 10%, 60% 40%, 90% 90%, 40% 60%);
        opacity: 0
    }
    0.1% {
        opacity: 1
    }
    to {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        opacity: 1
    }
}

@keyframes nav_passive {
    0% {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        opacity: 1
    }
    to {
        -webkit-clip-path: polygon(10% 10%, 60% 40%, 90% 90%, 40% 60%);
        clip-path: polygon(10% 10%, 60% 40%, 90% 90%, 40% 60%);
        opacity: 0
    }
}

@-webkit-keyframes nav_matrix {
    0% {
        -webkit-transform: matrix3d(1.305, 0, 0.5, 0.01, 0, 0.609, 0.5, 0.01, -0.5, -0.5, 0.7569, 0, 24, 24, 0, 1);
        transform: matrix3d(1.305, 0, 0.5, 0.01, 0, 0.609, 0.5, 0.01, -0.5, -0.5, 0.7569, 0, 24, 24, 0, 1);
        -webkit-transform-origin: 0px 0px 0px;
        transform-origin: 0px 0px 0px;
        opacity: 0
    }
    to {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform-origin: 0px 0px 0px;
        transform-origin: 0px 0px 0px;
        opacity: 1
    }
}

@keyframes nav_matrix {
    0% {
        -webkit-transform: matrix3d(1.305, 0, 0.5, 0.01, 0, 0.609, 0.5, 0.01, -0.5, -0.5, 0.7569, 0, 24, 24, 0, 1);
        transform: matrix3d(1.305, 0, 0.5, 0.01, 0, 0.609, 0.5, 0.01, -0.5, -0.5, 0.7569, 0, 24, 24, 0, 1);
        -webkit-transform-origin: 0px 0px 0px;
        transform-origin: 0px 0px 0px;
        opacity: 0
    }
    to {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform-origin: 0px 0px 0px;
        transform-origin: 0px 0px 0px;
        opacity: 1
    }
}

@-webkit-keyframes move_up {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0.7
    }
}

@keyframes move_up {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0.7
    }
}

@-webkit-keyframes move_up-thin {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0.3
    }
}

@keyframes move_up-thin {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0.3
    }
}
@-webkit-keyframes head-img-zoom {
    0% {
        -webkit-transform: scale(1.1) rotate(0.0001deg);
        transform: scale(1.1) rotate(0.0001deg)
    }
    100% {
        -webkit-transform: scale(1) rotate(0.0001deg);
        transform: scale(1) rotate(0.0001deg)
    }
}

@keyframes head-img-zoom {
    0% {
        -webkit-transform: scale(1.1) rotate(0.0001deg);
        transform: scale(1.1) rotate(0.0001deg)
    }
    100% {
        -webkit-transform: scale(1) rotate(0.0001deg);
        transform: scale(1) rotate(0.0001deg)
    }
}
@-webkit-keyframes toptext {
    0% {
        -webkit-transform: translate3d(0, 100px, 0);
        transform: translate3d(0, 100px, 0);
        opacity: 0
    }
    50% {
        opacity: 0
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes toptext {
    0% {
        -webkit-transform: translate3d(0, 100px, 0);
        transform: translate3d(0, 100px, 0);
        opacity: 0
    }
    50% {
        opacity: 0
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}